<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedro.charlesbradleytribute">
    <!--PERMISOS NECESARIOS PARA ACCEDER A INTERNET
    http://www.desarrollolibre.net/blog/tema/273/android/como-incrustar-un-video-de-youtube-en-android#.Wf3zlWjWzmY
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/charles"
        android:label="@string/app_name"
        android:roundIcon="@drawable/charles"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaCanciones"></activity>
    </application>

</manifest>